body {
  background-color: black;
}
.text  {
  color: white;
}
.image {
 /*float: left;
 margin: 1px;
 border: 1px solid white;*/

  display: block;
  margin: auto;
  width: 40%;
  margin-top: 5px;
}
.input {
  width: 50%;
}
.input-form {
  margin-bottom: 20px;
}
